body {
    background-color: aliceblue;
}

header {
    box-shadow: -1px 1px 2px #ded5d5a8;
    z-index: 2;
}

.pointer {
    cursor: pointer !important;
}

a {
    text-decoration: none;
}

.btn-success {
    background-image: linear-gradient(310deg, #2dce89, #2dcecc) !important;
}

p a img,
figure img,
jodit,
.td-post-content div a img,
.wp-caption,
.wp-caption img,
p img {
    width: 100% !important;
    height: auto !important;
}



.bg-gradient-success {
    background-image: linear-gradient(310deg, #2dce89, #2dcecc);
    color: white;
}

.input-group-text {
    padding: 0.48rem 0.75rem;
    background-color: #fdfeff;
    border: 1px solid #ced4da;

}


.code,
pre {
    background-color: #002b36;
    border-radius: 0.375rem;
    color: #839496;
    font-family: Consolas, Courier New, monospace;
    font-size: .85em !important;
    font-weight: 500;
    max-height: 500px;
    overflow: auto;
    padding: 0.5rem !important;
    /* white-space: nowrap; */
}





.contact-body {
    border-radius: 20px !important;
}

.img-content {
    height: 204px;
}

.img-content img {
    object-fit: cover;
}










.loading div,
.image {
    background: linear-gradient(100deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, 0) 60%) #cfcfcfad;
    background-size: 200% 100%;
    background-position-x: 180%;
    animation: 1s ease-in-out infinite loading;
}

@keyframes loading {
    to {
        background-position-x: -20%
    }
}

.loading div {
    margin-top: 12px;
    min-height: 1.6rem;
    border-radius: 4px;
    animation-delay: .05s
}

.image {
    height: 200px;
}


.loading .book {
    height: 300px;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    opacity: 1.0;
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .book-img {
        width: 200px !important;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    .book-img {
        width: 250px !important;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {}